<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericpalmer.myandroidprojects">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launchericon"
        android:label="Mpesa"
        android:roundIcon="@mipmap/launchericon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myandroidprojects">
        <activity
            android:name=".Send_money"
            android:exported="false" />
        <activity
            android:name=".mpesapage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>